azure-cognitiveservices-vision-computervision
azure-common
certifi
charset-normalizer
click
colorama
Flask
gunicorn
idna
isodate
itsdangerous
Jinja2
MarkupSafe
msrest
oauthlib
python-dotenv
requests
requests-oauthlib
six
urllib3
Werkzeug
